.heading {
  background: url(/build/img/heading-bg.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 8rem;

  h1 {
    color: $black;
    font-size: 4rem;
  }

  p {
    padding-top: 1rem;
    font-size: 2rem;
    color: $light-color;
    padding-right: 0.5rem;

    a {
      color: $black;
      &:hover {
        color: $green;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: $border;
  color: $black;

  span {
    color: $green;
    padding-left: 0.7rem;
  }

  a {
    margin-left: auto;
    color: $light-color;
    font-size: 1.5rem;

    &:hover {
      color: $green;
    }
  }
}

.category .box-container {
  @include grid(16rem);
  padding: 4rem 0;
  .box {
    text-align: center;
    img {
      height: 15rem;
    }

    h3 {
      font-size: 2rem;
      margin: 1rem 0;
      color: $light-color;
    }

    &:hover h3 {
      color: $green;
    }
  }
}

//products

.products .box-container {
  @include grid(30rem);

  .box {
    position: relative;
    background: $light-bg;
    text-align: center;
    overflow: hidden;

    &:hover .icons {
      top: 0;
    }

    .icons {
      position: absolute;
      top: -105%;
      left: 0;
      height: 30rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(243, 243, 243, 0.8);
      gap: 1rem;

      a {
        font-size: 2rem;
        height: 5rem;
        width: 5rem;
        line-height: 5rem;
        background: $white;
        box-shadow: $box-shadow;
        color: $light-color;

        &:hover {
          background: $green;
          color: $white;
        }
      }

      .image {
        height: 30rem;
        width: 100%;
        overflow: hidden;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      
    }

    .content {
        padding: 1.5rem;

        h3 {
          font-size: 2rem;
          color: $black;
        }

        .price {
          font-size: 2rem;
          color: $black;
          padding: 1rem 0;
        }

        .stars {
          font-size: 1.7rem;
          color: $green;
          cursor: pointer;
        }
      }
  }
}
